.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}
.form-horizontal {
    padding-top: 10px;
}
.tab-content {
    background: #eee;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: #eee;
}
.jumbotron {
    margin-top: 10px !important;
}

.node circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
body {
    background-color: black;
}
.main {
    margin-top: 30px;
    background-color: #ccc;
}
#siteBody {
    height: 960px;
    width: 960px;
    margin: 0 auto;
    background-color: #eee;
}
.img {
    margin-left: 310px;
}
#title {
    font-size: 65px;
    font-family: "satisfy", sans-serif;
    margin-left: 390px;
}
#index {
    font-family: "satisfy", sans-serif;
    margin-left: 290px;
}
#indextwit {
    font-family: "satisfy", sans-serif;
    margin-left: 245px;
}
#inboth {
    font-family: "satisfy", sans-serif;
    margin-left: 85px;
}
#twitbut {
    margin-left: 250px;
}
#fbbut {
    margin-left: 250px;
}
h4 {
    text-align: center;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.loader {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 100px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #000, inset 0 0 50px #000;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

a.hover {
    text-decoration:none;
}
    
