.tab-content {
  background: #4c66a4;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background: #4c66a4;
  color: #fff;
}
.jumbotron {
  background: #4c66a4;
}
.jumbotron h2 {
  color: #fff;
}
dt {
  color: #fff;
}
dd {
  color: #fff;
}
p {
  color: #fff;
}
strong {
  color: #fff;
}
.panel-heading{
  color: #fff;
}
li{
  color: #fff;
}
.list-group-item{
  background: #4c66a4;
}
.panel-heading{
  background: #b4b4b4 !important; 
}