<div class="alert alert-danger" ng-if="error.text" ng-bind="error.text"></div>
<div class="jumbotron">
  <h2 ng-if="!loggedIn('twitter') && !loggedIn('facebook')">
    Hello, Please Login to Facebook or Twitter
  </h2>
  <h2 ng-if="!loggedIn('twitter') && loggedIn('facebook')">
    Hello, Please Login to Twitter
  </h2>
  <h2 ng-if="!loggedIn('facebook') && loggedIn('twitter')">
    Hello, Please Login to Facebook
  </h2>
  <h2 ng-if="loggedIn('twitter') && loggedIn('facebook')">
    Hello, {{ fb.first_name }}. Here are your data.
  </h2>
  <div ng-if="!loggedIn('twitter')">
    <div class="row">
      <div class="col-sm-3">
        <input class="form-control" type="text" ng-model="tweetUser" placeholder="Username">
      </div>

      <div class="col-sm-9">
        <button class="btn btn-sm btn-primary" ng-click="signin('twitter',tweetUser)">Login to Twitter</button>
      </div>
    </div>
  </div>

  <a ng-href="/auth/facebook" ng-if="!loggedIn('facebook')" class="btn btn-sm btn-primary" ng-click="signin('facebook')">Login to Facebook</a>
</div>

<div ng-if="loggedIn('twitter') || loggedIn('facebook')">
  <div class="main">
    <tabset>
      <tab heading="Profile" ng-if="loggedIn('facebook')">
        <h4 ng-show="!statsLoaded">Loading Stats...</h4>
        <dl ng-show="statsLoaded" class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ fb.name }}</dd>
          <dt>Birthday</dt>
          <dd>{{ fb.birthday }}</dd>
          <dt>Gender</dt>
          <dd>{{ fb.gender }}</dd>
          <dt>Education</dt>
          <dd ng-repeat="e in fb.education">{{ e.school.name }} {{ e.year.name }}</dd>
          <dt>Languages</dt>
          <dd ng-repeat="l in fb.languages">{{ l.name }}</dd>
          <dt>Location</dt>
          <dd>{{ fb.location.name }}</dd>
          <dt>Sports</dt>
          <dd ng-repeat="s in fb.sports">{{ s.name }}</dd>
          <dt>Username</dt>
          <dd>{{ fb.username }}</dd>
        </dl>
      </tab>

      <tab heading="Friends" ng-if="loggedIn('facebook')">
        <h4 ng-show="!statsLoaded">Loading Stats...</h4>
        <div ng-show="statsLoaded">
          <div class="row">
            <strong class="col-sm-3">Number of Friends</strong>
            <p class="col-sm-9" ng-bind="numFriends"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Number of Friends with same birthday month</strong>
            <p class="col-sm-9" ng-bind="sameBDay"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Number of Friends with same gender</strong>
            <p class="col-sm-9" ng-bind="sameGender"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Number of Friends who went to a same school</strong>
            <p class="col-sm-9" ng-bind="sameSchool"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Number of Friends who are in the same location</strong>
            <p class="col-sm-9" ng-bind="sameLocation"></p>
          </div>
        </div>
      </tab>

      <tab heading="Statuses" ng-if="loggedIn('facebook')">
        <h4 ng-show="!statsLoaded">Loading Stats...</h4>
        <div ng-show="statsLoaded">
          <div class="row">
            <strong class="col-sm-3">Average Status Length in characters</strong>
            <p class="col-sm-9" ng-bind="avgLen | number:2"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Average Status Length in words</strong>
            <p class="col-sm-9" ng-bind="avgWordLen | number:2"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Average time in hours between each status update</strong>
            <p class="col-sm-9" ng-bind="avgDelay | number:2"></p>
          </div>
          <div class="row">
            <strong class="col-sm-3">Average number of status updates per day</strong>
            <p class="col-sm-9" ng-bind="avgPerDay | number:2"></p>
          </div>
        </div>
      </tab>

      <tab heading="Twitter" ng-if="loggedIn('twitter')">
        <div class="panel panel-default">
          <div class="panel-heading">Here are your 20 latest tweets</div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="t in tweets" ng-bind="t.text"></li>
          </ul>
        </div>
      </tab>

      <tab heading="Graph">
        <h4 ng-show="!graphLoaded">Loading Graph...</h4>
        <svg id="graph"></svg>
      </tab>
    </tabset>

  </div>
</div>
