<div class="alert alert-danger" ng-if="error.text" ng-bind="error.text"></div>
<div class="jumbotron">
  <h2 ng-if="!loggedIn('twitter') && !loggedIn('facebook')">
    Hello, Please Login to Facebook or Twitter
  </h2>
  <h2 ng-if="!loggedIn('twitter') && loggedIn('facebook')">
    Hello, Please Login to Twitter
  </h2>
  <h2 ng-if="!loggedIn('facebook') && loggedIn('twitter')">
    Hello, Please Login to Facebook
  </h2>
  <h2 ng-if="loggedIn('twitter') && loggedIn('facebook')">
    Hello, {{ fb.first_name }}. Here are your data.
  </h2>
  <button ng-if="!loggedIn('twitter')" class="btn btn-sm btn-primary" ng-click="signin('twitter')">Login to Twitter</button>
  <button ng-if="loggedIn('twitter')" class="btn btn-sm btn-danger" ng-click="logout('twitter')">Logout of Twitter</button>
  <button ng-if="!loggedIn('facebook')" class="btn btn-sm btn-primary" ng-click="signin('facebook')">Login to Facebook</button>
  <button ng-if="loggedIn('facebook')" class="btn btn-sm btn-danger" ng-click="logout('facebook')">Logout of Facebook</button>
</div>
<a href="/auth/facebook" class="btn btn-warning">TEST</a>
<div ng-if="loggedIn('twitter') || loggedIn('facebook') || true">
  <div class="main">
    <tabset>
      <tab heading="Profile" ng-if="loggedIn('facebook')">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{ fb.name }}</dd>
          <dt>Birthday</dt>
          <dd>{{ fb.birthday }}</dd>
          <dt>Gender</dt>
          <dd>{{ fb.gender }}</dd>
          <dt>Education</dt>
          <dd ng-repeat="e in fb.education">{{ e.school.name }} {{ e.year.name }}</dd>
          <dt>Languages</dt>
          <dd ng-repeat="l in fb.languages">{{ l.name }}</dd>
          <dt>Location</dt>
          <dd>{{ fb.location.name }}</dd>
          <dt>Sports</dt>
          <dd ng-repeat="s in fb.sports">{{ s.name }}</dd>
          <dt>Username</dt>
          <dd>{{ fb.username }}</dd>
        </dl>
      </tab>

      <tab heading="Friends" ng-if="loggedIn('facebook')">
        <div class="row">
          <strong class="col-sm-3">Number of Friends</strong>
          <p class="col-sm-9" ng-bind="numFriends"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Number of Friends with same birthday month</strong>
          <p class="col-sm-9" ng-bind="sameBDay"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Number of Friends with same gender</strong>
          <p class="col-sm-9" ng-bind="sameGender"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Number of Friends who went to a same school</strong>
          <p class="col-sm-9" ng-bind="sameSchool"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Number of Friends who are in the same location</strong>
          <p class="col-sm-9" ng-bind="sameLocation"></p>
        </div>
      </tab>

      <tab heading="Statuses" ng-if="loggedIn('facebook')">
        <div class="row">
          <strong class="col-sm-3">Average Status Length in characters</strong>
          <p class="col-sm-9" ng-bind="avgLen | number:2"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Average Status Length in words</strong>
          <p class="col-sm-9" ng-bind="avgWordLen | number:2"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Average time in hours between each status update</strong>
          <p class="col-sm-9" ng-bind="avgDelay | number:2"></p>
        </div>
        <div class="row">
          <strong class="col-sm-3">Average number of status updates per day</strong>
          <p class="col-sm-9" ng-bind="avgPerDay | number:2"></p>
        </div>

      </tab>

      <tab heading="Twitter" ng-if="loggedIn('twitter') || true">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Number of tweets to retrive</label>
            <div class="col-sm-1">
              <input type='number' ng-model="numTweets" class="form-control">
            </div>
            <div class="col-sm-2">
              <button class='btn btn-small btn-default' ng-click="getTweets(numTweets)">Get</button>
            </div>
          </div>
        </form>
        <div class="panel panel-default">
          <div class="panel-heading">Here are your {{ actualNum }} latest tweets</div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="t in tweets" ng-bind="t.text"></li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Here are your timeline's {{ actualNum }} latest tweets</div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="t in homeTweets" ng-bind="t.text"></li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Here are your {{ actualNum }} latest mentioned tweets</div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="t in mentions" ng-bind="t.text"></li>
          </ul>
        </div>
      </tab>
    </tabset>
  </div>
</div>
